/* wanted to zoomed a image little bit so it fits whole */
.searchThumb img{
    transform: scale(1.4);
}

.youtubeIframe{
    /* position: absolute;
    top: -100vh;
    left: -100vw; */
}

.pinkLists > div ,.pinkLists svg{
    color: #e91e63
}
.pinkLists > div{
    margin: 5px;
    background: #e91d6312;
    border-radius: 5px;
    width: auto;
}
.pinkLists > div:hover{
    background: #e91d6423;
}

